<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
      <section name="nghe.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="NOT_AVAILABLE_MSG" value="Il n'existe plus de plage horaire libre" />
    <add key="SCREENSHOT_FOLDER" value="./" />
    <add key="ViberAuthToken" value="secret" />

    <add key="serilog:minimum-level" value="Debug" />

    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:write-to:Console.outputTemplate" value="{Timestamp: HH:mm:ss.fff} {Level:u3} {Message:lj}{NewLine}{Exception}" />

    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="./logs/{Date}.txt" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp: HH:mm:ss.fff} {Level:u3} {Message:lj}{NewLine}{Exception}" />
  </appSettings>
  <applicationSettings>
    <nghe.Settings>
      <setting name="ViberReceiverIDs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>2hKqr/HncUsqJplpD6qJKw==</string>
            <string>GcKMVqbqGtH5GH4NNrAThQ==</string>
          </ArrayOfString>
        </value>
      </setting>
    </nghe.Settings>
  </applicationSettings>
</configuration>
