<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="NOT_AVAILABLE_MSG" value="Il n'existe plus de plage horaire libre" />

        <add key="serilog:minimum-level" value="Debug" />

        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console" />
        <add key="serilog:write-to:Console.outputTemplate" value="{Timestamp: HH:mm:ss.fff} {Level:u3} {Message:lj}{NewLine}{Exception}" />

        <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
        <add key="serilog:write-to:RollingFile.pathFormat" value="./logs/{Date}.txt" />
        <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp: HH:mm:ss.fff} {Level:u3} {Message:lj}{NewLine}{Exception}" />
    </appSettings>
</configuration>
